.nm-card {
    background-color: var(--nm-color-background);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    color: var(--nm-color-text);
    font-family: inherit;
}

.nm-card[data-padding='none'] {
    padding: 0;
}

.nm-card[data-padding='sm'] {
    padding: 8px;
}

.nm-card[data-padding='md'] {
    padding: 16px;
}

.nm-card[data-padding='lg'] {
    padding: 24px;
}