.nm-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    line-height: 1;
}

.nm-icon svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
}

/* Sizes */
.nm-icon[data-size='sm'] {
    width: 16px;
    height: 16px;
}

.nm-icon[data-size='md'] {
    width: 24px;
    height: 24px;
}

.nm-icon[data-size='lg'] {
    width: 32px;
    height: 32px;
}

.nm-icon[data-size='xl'] {
    width: 48px;
    height: 48px;
}